button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: (-50%, -50%);
    background-color: green;
    padding: .6rem 1.2rem;
    border: none;
    font-size: 1.6rem;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}